@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Welcome to your AC service manager!</h3>
    <div class="indicatior" style="margin-top: 0.5rem;"> You got a problem? You needn't worry we'll fix it!</div>
    <a class="btn btn-secondary" style="margin-top: 1.5rem;" asp-controller="Home" asp-action="Register">Sign up here!</a>
</div>
